<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <monitoring>
      <triggers>
        <requests count="50" timeInterval="01:00:00" />
        <statusCode>
          <add statusCode="500" count="1" timeInterval="00:02:00"/>
        </statusCode>
      </triggers>
      <actions value="Recycle"/>
      <actions value="LogEvent"/>
    </monitoring>
  </system.webServer>
</configuration>
