<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <monitoring>
      <triggers>
        <requests count="100" timeInterval="01:30:00" />
        <statusCode>
          <add statusCode="500" count="2" timeInterval="00:10:00"/>
        </statusCode>
      </triggers>
      <actions value="Recycle"/>
      <actions value="LogEvent"/>
    </monitoring>
  </system.webServer>
</configuration>
