<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <monitoring>
      <triggers>
        <!-- Scenario #1: Recycling based on Request Count -->
        <requests count="50" timeInterval="01:00:00"/>
        <statusCode>
          <add statusCode="500" count="2" timeInterval="00:02:00"/>
        </statusCode>
      </triggers>
      <!-- Scenario #1 & #2 Action -->
      <actions value="Recycle"/>
      <!-- Scenario #3 Action -->
      <actions value="LogEvent"/>
    </monitoring>
  </system.webServer>
</configuration>
